# Environments and Secrets
.env
.fyers_token
.last_auth_date

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.code-workspace

# Virtual environments
venv/
env/
.venv/

# Ignore local data
data/historical_data/*.csv
data/historical_data/*.xlsx
*.duckdb*
data/*.duckdb*

# Temporary run outputs and logs
*_today.txt
*_output*.txt
*.log
